<!DOCTYPE html>
<html>
<head>
	<title>Customer Profile</title>
<link rel="stylesheet" href="./abc/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">AB</span> Property </h1>
        </div>
        <nav>
          <ul>
            <li><a href="Customer_Home"><i class="fa fa-home"></i> Home</a></li>
            <li ><a href=" Customer_Profile"><i class="fa fa-user"></i> Profile</a></li>
            <li class="current"><a href="Customer_Feedback "><i class="fa fa-envelope"></i> Feedback</a></li>
             <li><a href=" Customer_Upload"><i class="fa fa-upload"></i> Upload Property</a></li>
            <li><a href="Customer_Edit "><i class="fa fa-edit"></i> Edit Property</a></li>
            <li><a href="Customer_Delete "> <i class="fa fa-trash"></i> Delete Post</a></li>
            <li><a href="/logout "> <i class="fa fa-sign-out"></i> LogOut</a></li>
          </ul>
        </nav>
      </div>

    </header>
<body>
<div class="Customer_Profile">
  
  

  <br>
     <br>
     <br>

    <center>

           <input type="button" class="profile_button" onclick="window.location.href = 'Customer_Edit_Profile';" value="Edit_Profile"/><br>
         <input type="button" class="profile_button" onclick="window.location.href = 'Change_Password';" value="Change_Password"/><br>
         
  </center>

</div>


<div class="profile_details">
   <form method="Post" action="/home/Customer_Feedback">
    <h1 id="logo" align="center">Feedback</h1><br>

    
      <center>
      <h2><% for(var i=0; i < feedback.length; i++){ %>
        <span style="color:red;"><%=i+1%>. <%=feedback[i].from%></span> :   <%=feedback[i].msg%><h2> 
            
       
        <% } %> 

       
        
         
            <input type="text" id="feedback" name="feedback" style="width: 400px; height:50px;" /><br><button>Send</button><br></td></tr>
        

</center>
</form>
</div>

</body>
</html>