<!DOCTYPE html>
<html>
<head>
	<title>Registration page</title>
</head>
<body>
	<h2>Registration Success! Now click here for: <a href="/login"> Login </a>
	<hr>
	Go to <a href="/main">Main page</a>
	</h2>
</body>
</html>